.playSongWrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.playSongSection {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.playSongWrapper img {
  width: 100%;
  height: 100%;
}
