body {
  background: #000;
}
.homeLink {
  position: fixed;
  color: #fff;
  left: 40px;
  font-size: 40px;
  display: flex;
  top: 45px;
  text-decoration: none;
}
.homeLink .MuiSvgIcon-root {
  font-size: 45px;
}
.homeLink:hover {
  color: red;
}
.uploadSongLink {
  position: fixed;
  color: #fff;
  right: 40px;
  font-size: 40px;
  display: flex;
  top: 45px;
  text-decoration: none;
}
.uploadSongLink .MuiSvgIcon-root {
  font-size: 45px;
}
